<nav class="main_navbar">
  <div class="main_logo">
    <a class="logo" routerLink="/home">TCHTN</a>
  </div>
  <div class="main_links">
    <ul class="links">
      <li class="main_link" [routerLink]="['/home']">
        <a class="link">Home</a>
      </li>
      <li class="main_link" [routerLink]="['/products']">
        <a class="link">Products</a>
      </li>
      <li class="main_link" [routerLink]="['/newtech']">
        <a class="link">New Tech</a>
      </li>
      <li class="main_link" [routerLink]="['/blog']">
        <a class="link">Blog</a>
      </li>
      <li class="main_link" [routerLink]="['/contact']">
        <a class="link">Contact</a>
      </li>
    </ul>
  </div>
</nav>
